<main>
    <section class="productDetails">
        <h1>Te damos la bienvenida a</h1>
        <img src="/imgs/logo-ludussus-header.png" alt="">
        <p>Revisa nuestra Barra de Navegación para:</p>
        <ul>
            <li>Crear y/o Borrar una Colección de Productos</li>
            <li>Revisar la Lista de Productos</li>
            <li>Agregar un nuevo producto a la lista</li>
            <li>Ver los productos agregados al Carro de compras</li>
        </ul>
    </section>
</main>