<nav>
    <ul>
        <li><a target="_blank" href="http://localhost:8080/api/products?page=1" >API Productos (JSON)</a></li>
        <li><a href="http://localhost:8080/api/carts/" >API Carro de Compras (JSON)</a></li>
        <li><a href="http://localhost:8080/products/">Nuestros Productos</a></li>
        <li><a href="http://localhost:8080/carts/" >Carro de Compras</a></li>
    </ul>
</nav> 