<nav>
    <ul>
        <li><a target="_blank" href="http://localhost:8080/api/products?page1" >API Productos (JSON)</a></li>
        <li><a href="http://localhost:8080/products?page1">Nuestros Productos</a></li>
        <li><a href="http://localhost:8080/api/carts/" >Carro de Compras</a></li>
    </ul>
</nav> 