<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!--Estilos del sitio-->
    <link rel="stylesheet" href="/styles.css">
    <!--Fuentes del sitio-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Chocolate+Classical+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a class="navbar-brand" href="http://localhost:8080/"><img src="/imgs/logo-ludussus-header.png" alt="Logo"></a>
        {{> navbar}}
    </header>   
    {{{body}}}
</body>
</html>